@model List<MusicWorld.Data.Models.User>
@{
    ViewData["Title"] = "All";
}
<br />
<h2>All Users</h2>

<a asp-action="Create" style="background-color:#0676FD;color:white;border:none;font-size:20px;padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;">
    New 
</a>

<div class="table-all-users">
    <table class="table">
        <thead>
            <tr>
                <th><h3>Username</h3></th>
                <th><h3>First Name</h3></th>
                <th><h3>Last Name</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                <tr>
                    <td>@item.Username</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>

                    <td type="button">
                        <a class="btn-edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn-delete" asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a> 
                    </td> 
                </tr>
            }
        </tbody>
    </table> 
</div> 